<nb-card>

  <nb-card-header>Add New Product</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <label>Product Name</label>
          <input type="text" placeholder="product Name" class="form-control" />
        </div>
        <div class="input-group">
          <label>Product Price</label>
          <input type="text" placeholder="product price" class="form-control" />
        </div>
        <div class="input-group">
          <label for="sel1">Select Category</label>
          <select class="form-control" id="sel1" (change)="OnChangeSelectCategory($event)">
            <option>Select Category</option>
            <option>tv</option>
            <option>couch</option>
            <option>Rug</option>
          </select>
        </div>
        <div class="input-group" *ngIf="SelectSub">
          <label for="sel1">Select SubCategory</label>
          <select class="form-control" id="sel1">
            <option>Select SubCategory</option>
            <option>SubCategory1</option>
            <option>SubCategory2</option>
            <option>SubCategory3</option>
          </select>
        </div>
        <div class="input-group">
          <form (change)="OnChaneg($event)">
            <label>Is Their Discount ?</label>
            <div class="radio">
              <label>
                <input type="radio" name="optradio" [(ngModel)]="myRadio" value="Yes">Yes</label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="optradio" [(ngModel)]="myRadio" value="No"> No</label>
            </div>
            <div class="Open-date" *ngIf="OpenDate">
              <form>
                Enter Start Date:
                <input class="input-radio" type="date" name="bday" [(ngModel)]="from">
                <br> Enter End Date:
                <input class="input-radio" type="date" name="bday" [(ngModel)]="to">
                <br>
              </form>
              <div class="input-group-discount">
                <label>discount percentage %</label>
                <input type="number" placeholder="discount percentage" class="form-control" />
              </div>
              <div class="input-group-discount">
                <label>Price After Discount</label>
                <input type="number" placeholder="price after discount" class="form-control" />
              </div>
              <div class="input-group-discount">
                <label>Amount Of Offered Items</label>
                <input type="number" placeholder="Amount Of Offered Items" class="form-control" />
              </div>
            </div>
          </form>
        </div>
        <div class="input-group">
          <label>Product Quantity</label>
          <input type="text" placeholder="product quantity" class="form-control" />
        </div>
        <div class="input-group">
          <label>Product Status</label>
          <select class="form-control" id="sel1">
            <option>Select Product Status</option>
            <option>Active</option>
            <option>Non Active</option>
          </select>
        </div>
        <div class="input-group">
          <nb-card>
            <nb-card-body>
              <ck-editor name="editor1" [(ngModel)]="editorDescription" skin="moono-lisa" language="en"></ck-editor>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
      <div class="col-6" style="border-left: 1px solid #cbc8c8">
        <div>
          <h4>UpLoad Main Image</h4>
        </div>
        <div class="input-main-image">
          <label for="file-input">
            <img *ngIf="VisableUpload" [src]="Uploadimage" style="pointer-events: none" />
          </label>
          <img *ngIf="!VisableUpload" [src]="image" style="pointer-events: none" />
          <input id="file-input" type="file" (change)="ReadUrl($event)" />
        </div>
        <div class="div-btn-upload-cancel" *ngIf="visabilityUploadBtn">
          <button class="btn btn-primary btn-xs" (click)="UploadMainImage()">
            <i class="glyphicon glyphicon-ok"></i>
          </button>
          <button class="btn btn-primary btn-xs" (click)="CancelMainImage()">
            <i class="glyphicon glyphicon-remove"></i>
          </button>
        </div>
        <div *ngIf="AddForDiscout">
          <h4> Images For Discount</h4>
        </div>
        <div class="btn-upload-discount-images" *ngIf="Upload_array_images_discount">
          <button class="btn btn-danger" (click)="UploadDiscountImages()">Upload Images</button>
        </div>
        <div class="row">
          <div class="col-3" *ngFor="let a of arrayOfImageDiscount; let i=index">
            <img [src]="a" alt="">
            <div class="remove-photo" (click)="OnPressRemoveImageDiscount(i)">
              <i class="glyphicon glyphicon-remove "></i>
            </div>
          </div>
        </div>
        <div class="div-discount-images" *ngIf="AddForDiscout">
          <input id="file-input-discount-image" type="file" (change)="ReadUrlDiscountImages($event)" />
          <label for="file-input-discount-image" class="btn btn-full-width btn-hero-warning"> Upload Image For Discount</label>
        </div>
        <div style="margin-top: 30px;">
          <h4>UpLoad Sub Image</h4>
        </div>
        <div class="btn-upload-sub-images" *ngIf="Upload_array_images">
          <button class="btn btn-danger" (click)="UploadSubImages()">Upload Images</button>
        </div>
        <div class="row">
          <div class="col-3" *ngFor="let a of arrayOfImage; let i=index">
            <img [src]="a" alt="">
            <div class="remove-photo" (click)="OnPressRemoveImageSub(i)">
              <i class="glyphicon glyphicon-remove "></i>
            </div>
          </div>
        </div>
        <div class="div-btn-sub-image">
          <input id="file-input-sub" type="file" (change)="ReadUrlSub($event)" />
          <label class="btn btn-primary" for="file-input-sub">More Images</label>
        </div>
      </div>
    </div>
    <div class="input-group btn-submit">
      <button class="btn btn-primary btn-lg" (click)="OnPressSubmit()">Submit</button>
    </div>
  </nb-card-body>
</nb-card>
