<nb-card>
  <nb-card-header>
  </nb-card-header>

  <nb-card-body>
    <div *ngIf="PriceRange">
      <div class="card">
        <div data-role="main" class="ui-content">
          <form method="post" action="/action_page_post.php">
            <div data-role="rangeslider">
              <label for="price-min">{{min}}</label>
              <input type="range" name="price-min" id="price-min" [(ngModel)]="min" value="min" min="0" max="1000">
              <label for="price-max">{{max}}</label>
              <input type="range" name="price-max" id="price-max" [(ngModel)]="max" value="max" min="0" max="1000">
            </div>
            <div class="btn-submit-range">
              <button type="button" class="btn btn-secondary " (click)="OnPressSearch()">Submit</button>
              <button type="button" class="btn btn-secondary " (click)="OnPressCancel()">Cancel</button>
            </div>
            <p></p>
          </form>
        </div>
      </div>
    </div>
    <div class="container">
      <h2>Categories</h2>
      <div class="btn-add-product">
        <button type="button" class="btn" (click)="onPressAdd()">Add Category</button>
      </div>
      <div class="search-container">
        <div class="search-filter inner-addon left-addon">
          <input class="form-control search" type="text" placeholder="Search ..." name="search" (keyup)="searchByProductName($event)">
          <i class="glyphicon glyphicon-search"></i>
          <span class="input-group-append">
          </span>
        </div>
        <div class="form-group div-sort">
          <label for="sel1">Sort By</label>
          <select class="form-control" id="sel1" (change)="OnChangeSelectSortBy($event)">
            <option>Select Sorting</option>
            <option>date added</option>
            <option>Last Update </option>
            <option>Price</option>
          </select>
        </div>
      </div>
      <table class="table not-cosmic" *ngIf="currentTheme !== 'cosmic'">
        <thead>
          <tr>
            <th>Category Name</th>
            <th>Category image</th>
            <th>Category Description</th>
            <th>Parent Category</th>
            <th> Products</th>
            <th>Remove</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of data;let i = index">
            <td >{{x.CategoryName}}</td>
            <td>
              <img class="image-td" [src]="x.imageCategory" alt="">
            </td>
            <td >{{x.briefdescription}}</td>
            <td >{{x.CategoryParent}}</td>
            <td >{{x.numberofproducts}}</td>
            <td >
              <i class="glyphicon glyphicon-trash" (click)="OnPressDelete(i,x.id)"></i>
            </td>
            <td >
              <i class="glyphicon glyphicon-pencil" (click)="OnPressEdit(i,x.id)"></i>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="table cosmic" *ngIf="currentTheme == 'cosmic'">
        <thead>
          <tr>
            <th>Category Name</th>
            <th>Category image</th>
            <th>Category Description</th>
            <th>Parent Category</th>
            <th> Products</th>
            <th>Remove</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of data;let i = index">
            <td >{{x.CategoryName}}</td>
            <td>
              <img class="image-td" [src]="x.imageCategory" alt="">
            </td>
            <td >{{x.briefdescription}}</td>
            <td >{{x.CategoryParent}}</td>
            <td >{{x.numberofproducts}}</td>
            <td >
              <i class="glyphicon glyphicon-trash" (click)="OnPressDelete(i,x.id)"></i>
            </td>
            <td >
              <i class="glyphicon glyphicon-pencil" (click)="OnPressEdit(i,x.id)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </nb-card-body>
</nb-card>
