<nb-card>

    <nb-card-header>Edit Artical Category</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-lg-6">
          <div class="input-group">
            <label>Category Name</label>
            <input [value]="data.categoryName" [(ngModel)]="data.categoryName" type="text" placeholder="Category Name" class="form-control"
            />
          </div>
          <div class="input-group">
            <form (change)="OnChaneg($event)">
              <label>Is Their Parent Category ?</label>
              <div class="radio">
                <label>
                  <input type="radio" name="optradio" [checked]="data.is_have_parent" [(ngModel)]="data.is_have_parent" value="Yes">Yes</label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="optradio" [checked]="data.is_have_parent" [(ngModel)]="data.is_have_parent" value="No"> No</label>
              </div>

            </form>
          </div>
          <div class="input-group" *ngIf="haveParentCategory">
            <label for="sel1">Parent Category Name</label>
            <select class="form-control" id="sel1" [value]="data.ParentCategoryName">
              <option>Select Category</option>
              <option>tv</option>
              <option>couch</option>
              <option>Rug</option>
            </select>
          </div>
          <div class="input-group">
            <label>Category Icon</label>
            <input type="text" [value]="data.categoryIcon" [(ngModel)]="data.categoryIcon" placeholder="Category Icon" class="form-control"
            />
          </div>

        </div>
        <div class="col-6" style="border-left: 1px solid #cbc8c8">
          <div>
            <h4> Main Image</h4>
          </div>
          <div class="input-main-image">
            <label for="file-input">
              <img *ngIf="VisableUpload" [src]="imageUpload" style="pointer-events: none" />
            </label>
            <img *ngIf="!VisableUpload" [src]="data.image" style="pointer-events: none" />
            <div *ngIf="!VisableUpload" class="remove-photo-main" (click)="OnPressRemoveMainImage()">
              <i class="glyphicon glyphicon-remove "></i>
            </div>
            <input id="file-input" type="file" (change)="ReadUrl($event)" />
          </div>
          <div class="div-btn-upload-cancel" *ngIf="visabilityUploadBtn">
            <button class="btn btn-primary btn-xs" (click)="UploadMainImage()">
              <i class="glyphicon glyphicon-ok"></i>
            </button>
            <button class="btn btn-primary btn-xs" (click)="CancelMainImage()">
              <i class="glyphicon glyphicon-remove"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="input-group">
        <nb-card class="card-editor">
          <nb-card-body>
            <ck-editor name="editor1" [(ngModel)]="data.categoryDiscreption" skin="moono-lisa" language="en"></ck-editor>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="input-group btn-submit">
        <button class="btn btn-primary btn-lg" (click)="OnPressSubmit()">Submit</button>
      </div>
    </nb-card-body>
  </nb-card>
