<div class="row">
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>Default Inputs</nb-card-header>
        <nb-card-body>
            <div class="input-group">
               <img src="../../../../assets/images/camera1.jpg" alt="">
              </div>
            <div class="input-group">
                <input type="file" name="pic" accept="image/*" class="form-control"/>
                <button class="btn btn-primary btn-lg btn-upload-img">Upload Photo</button>
              </div>

          <div class="input-group">
            <input type="text" placeholder="Article title" class="form-control"/>
          </div>
            <div class="input-group">
                <label for="sel1">Select Category</label>
                <select class="form-control" id="sel1">
                  <option>Select Category</option>
                  <option>tv</option>
                  <option>couch</option>
                  <option>Rug</option>
                </select>
              </div>
              <div class="input-group">
                  <label for="sel1">Select SubCategory</label>
                  <select class="form-control" id="sel1">
                    <option>Select SubCategory</option>
                    <option>tv</option>
                    <option>couch</option>
                    <option>Rug</option>
                  </select>
                </div>
              <div class=" div-search">
                  <input  class="form-control py-2 search"
                   type="search" placeholder="Artical Tage" (keyup)="filter($event)" (keyup.arrowdown)="OnMoveDown()">
      <span class="input-group-append">
        <button class="btn btn-outline-secondary search-btn-icon" type="button">
            <i class="fa fa-search"></i>
        </button>
      </span>
                </div>
                <div  *ngIf="FilterItemsShowInSearch" >
                    <div  style="overflow: scroll;width: 87%; background: white; max-height: 140px;"  >
                 <div  *ngFor="let d of data; let i=index">
                     <button id="e" style="color: black; margin: 10px; border: 0px;background: transparent;"
                      (click)="OnSelectOption(i,d.id)"> {{d.ArticalTag}}</button>
                     </div>

                 </div>
                </div>
                <div *ngIf="VisablityOfSelectedTagUser" class="card">
                  <div style="width: 60px;" *ngFor="let i of itemTagUserSelected; let idx=index ">
                   <button (click)="OnPressArticalSelectTag(idx)" >
                     {{i?.ArticalTag}}
                   </button>
                  </div>

                </div>


                <div class="input-group">
                    <nb-card>
                        <nb-card-header>
                        </nb-card-header>
                        <nb-card-body>
                          <ngx-tiny-mce></ngx-tiny-mce>
                        </nb-card-body>
                      </nb-card>
                  </div>
    <div class="btn-add-artical">
      <button class="btn btn-primary btn-lg" (click)="OnPressSaveDerft()">Save Derft</button>
      <button class="btn btn-primary btn-lg" (click)="OnPressSave()">Save</button>
      </div>
        </nb-card-body>
      </nb-card>

     </div>
     </div>
