<nb-card>

  <nb-card-header>Add New Artical </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-lg-6">
        <div class="input-group">
          <label>Artical Title</label>
          <input type="text" placeholder="Category Name" class="form-control" />
        </div>
        <div class="input-group">
          <label>Select Category</label>
          <select class="form-control">
            <option>Select Category</option>
            <option>tv</option>
            <option>couch</option>
            <option>Rug</option>
          </select>
        </div>
        <div class="input-group">
          <label>Select SubCategory</label>
          <select class="form-control">
            <option>Select SubCategory</option>
            <option>tv</option>
            <option>couch</option>
            <option>Rug</option>
          </select>
        </div>
        <div class=" div-search">
          <input class="form-control py-2 search" type="search" placeholder="Artical Tage" (keyup)="filter($event)" (keyup.arrowdown)="OnMoveDown()">
          <span class="input-group-append">
            <button class="btn btn-outline-secondary search-btn-icon" type="button">
              <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
        <div *ngIf="FilterItemsShowInSearch">
          <div class="search-results">
            <select class="form-control" id="sel1" multiple [(ngModel)]="selectedArticle" (keyup.enter)="select(selectedArticle)">
              <option *ngFor="let d of data" [value]="d" (click)="select($event)">{{d.ArticalTag}}</option>

            </select>
          </div>

        </div>

        <div *ngIf="VisablityOfSelectedTagUser" class="card">
          <div class="row">
            <div class="col-3" *ngFor="let i of itemTagUserSelected; let idx=index ">
              <button (click)="OnPressArticalSelectTag(idx)">
                {{i?.ArticalTag}}
              </button>
            </div>
          </div>
        </div>
        <div class="input-group">
          <nb-card>
            <nb-card-body>
              <ck-editor name="editor1" [(ngModel)]="editorDescription" skin="moono-lisa" language="en"></ck-editor>
            </nb-card-body>
          </nb-card>
        </div>
      </div>
      <div class="col-6" style="border-left: 1px solid #cbc8c8">
        <div>
          <h4>UpLoad Main Image</h4>
        </div>
        <div class="input-main-image">
          <label for="file-input">
            <img *ngIf="VisableUpload" [src]="imageUpload" style="pointer-events: none" />
          </label>
          <img *ngIf="!VisableUpload" [src]="image" style="pointer-events: none" />
          <input id="file-input" type="file" (change)="ReadUrl($event)" />
        </div>
        <div class="div-btn-upload-cancel" *ngIf="visabilityUploadBtn">
          <button class="btn btn-primary btn-xs" (click)="UploadMainImage()">
            <i class="glyphicon glyphicon-ok"></i>
          </button>
          <button class="btn btn-primary btn-xs" (click)="CancelMainImage()">
            <i class="glyphicon glyphicon-remove"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="btn-submit">
      <button class="btn btn-danger btn-lg" (click)="OnPressSaveDerft()">Save Derft</button>
      <button class="btn btn-primary btn-lg" (click)="OnPressSave()">Save</button>
    </div>
  </nb-card-body>
</nb-card>
