<nb-card>


  <nb-card-body>

    <div class="container">
      <h2>All User</h2>
      <div>
        <div class="form-group div-sort">
          <label for="sel1">Sort By</label>
          <select class="form-control" id="sel1">
            <option>Registration date</option>
            <option>Last Login Date</option>
            <option>Name</option>
            <option> Email Activated </option>
          </select>
          <div style="margin: 0px 10%;"></div>
          <label for="sel1">Action for Selected</label>
          <select class="form-control" id="sel1">
            <option>Suspend</option>
            <option> Email Activat </option>
          </select>
        </div>
      </div>

      <table class="table">
        <thead>
          <tr>
            <th>Select</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>User Name</th>
            <th>Suspend</th>
            <th>Manage</th>
          </tr>
          <tr class="search-container">
            <td>

                  <button *ngIf="SelectALL" type="button" class="btn btn-secondary btn-xs" (click)="OnPressSelectAll()">Select All</button>
                  <button *ngIf="!SelectALL" type="button" class="btn btn-secondary btn-xs" (click)="OnPressNonSelectAll()">NonSelect </button>


            </td>
            <td>
              <form action="/action_page.php">
                <input type="text" placeholder="Search.." name="search" (keyup)="searchByFirstName($event)">
                <button type="submit" class="btn-search">
                  <i class="fa fa-search"></i>
                </button>
              </form>
            </td>
            <td>
              <form action="/action_page.php">
                <input type="text" placeholder="Search.." name="search" (keyup)="searchByLastName($event)">
                <button type="submit" class="btn-search">
                  <i class="fa fa-search"></i>
                </button>
              </form>
            </td>
            <td>
              <form action="/action_page.php">
                <input type="text" placeholder="Search.." name="search" (keyup)="searchByUserName($event)">
                <button type="submit" class="btn-search">
                  <i class="fa fa-search"></i>
                </button>
              </form>
            </td>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let x of data;let i = index">
            <td>
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="foo" (change)="onPressSelect(x.id,i)">
                </label>
              </div>
            </td>

            <td>{{x.firstName}}</td>
            <td>{{x.lastName}}</td>
            <td>{{x.username}}</td>
            <td>
              <button *ngIf="x.is_suspend==true"  class="btn btn-success btn-xs" data-dismiss="modal" data-toggle="modal" data-target="#myModal"  (click)="OnPressSuspend(i,x.id)">Suspend</button>
              <button *ngIf="x.is_suspend==false"  class="btn btn-danger btn-xs" data-dismiss="modal" (click)="OnPressSuspend(i,x.id)">UnSuspend</button>
              <div class="container">

                  <!-- Trigger the modal with a button -->

                  <!-- Modal -->
                  <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">

                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Suspend For</h4>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>

                        </div>
                        <div class="modal-body">
                            <form (change)="OnChaneg($event)">
                                <div class="radio">
                                  <label><input type="radio" name="optradio"  [(ngModel)]="myRadio" value="For Ever" >For Ever</label>
                                </div>
                                <div class="radio">
                                  <label><input type="radio" name="optradio"  [(ngModel)]="myRadio" value="Date"> Date</label>
                                </div>
                                <div  class="Open-date" *ngIf="OpenDate">
                                    <form>
                                        Enter a date  from:
                                        <input type="date" name="bday" [(ngModel)]="from" ><br>
                                        Enter a date  to:
                                        <input type="date" name="bday" [(ngModel)]="to" ><br>
                                      </form>
                                </div>

                              </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" (click)="OnPressOk()" data-dismiss="modal">Ok</button>
                          <button type="button" class="btn btn-primary" (click)="OnPressClose()" data-dismiss="modal">Close</button>
                        </div>
                      </div>

                    </div>
                  </div>

                </div>

              <!-- <ngx-select-comp [DataSource]="x" (data)="eventHandler($event)"
               (dataRemove)=eventHand($event) (dataID)="evenId($event)"
               [id]='idForChild' (dataChild)='DataChild($event)' [dataParent]="data_child" ></ngx-select-comp> -->
            </td>

            <td>
              <button (click)="OnPressEdit(i,x.id)">
                <i class="fa fa-edit"></i>
              </button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>


  </nb-card-body>
</nb-card>

