.nb-close{
  font-weight: bold;
}

.btn-search{
  background: #a4abb3;
  border: 2px solid #a4abb3;
}
.btn-add-product{
  display: flex;
  justify-content: center;
  margin: 20px 0px;

  button{
    background: #5cb85c;
    font-size: 20px;
    border-radius: 10px;
    color:white;
    text-transform: none;
    outline: none;
    width: 20%
}
  }



