<nb-card>
  <nb-card-header>
  </nb-card-header>
  <nb-card-body>
    <div class="container">
      <h2>Admins Users</h2>
      <div class="btn-add-product">
        <button class="btn" (click)="onPressAdd()">Add Admin User</button>
      </div>
      <table class="table not-cosmic" *ngIf="currentTheme !== 'cosmic'">
        <thead>
          <tr>
            <th style="width: 1%;"><h6>Action</h6></th>
            <th>FirstName</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          <tr class="search-container">
            <td>Chooose</td>
            <td>
              <form action="/action_page.php">
                <input type="text" placeholder="Search.." class="form-control" name="search" (keyup)="searchByFirstName($event)">
              </form>
            </td>
            <td>
              <form action="/action_page.php">
                <input type="text" placeholder="Search.." class="form-control" name="search" (keyup)="searchByLastName($event)">
              </form>
            </td>
            <td>
              <form action="/action_page.php">
                <input type="text" placeholder="Search.." class="form-control" name="search" (keyup)="searchByEmail($event)">
              </form>
            </td>
            <td></td>
          </tr>
          <tr *ngFor="let x of data;let i = index">
              <td style="padding: 0px; ">
                  <div class="edit-remove">
                    <div><i class="glyphicon glyphicon-trash" (click)="OnPressDelete(i,x.id)"></i></div>
                  <div> <i class="glyphicon glyphicon-pencil"(click)="OnPressEdit(i,x.id)"></i></div>
                  </div>
                </td>
            <td>{{x.firstName}}</td>
            <td>{{x.lastName}}</td>
            <td>{{x.email}}</td>
            <td>{{x.Role}}</td>

          </tr>
        </tbody>
      </table>

      <table class="table cosmic" *ngIf="currentTheme == 'cosmic'">
          <thead>
              <tr>
                <th style="width: 1%;"><h6>Action</h6></th>
                <th>FirstName</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Role</th>
              </tr>
            </thead>
            <tbody>
              <tr class="search-container">
                <td>Chooose</td>
                <td>
                  <form action="/action_page.php">
                    <input type="text" placeholder="Search.." class="form-control" name="search" (keyup)="searchByFirstName($event)">
                  </form>
                </td>
                <td>
                  <form action="/action_page.php">
                    <input type="text" placeholder="Search.." class="form-control" name="search" (keyup)="searchByLastName($event)">
                  </form>
                </td>
                <td>
                  <form action="/action_page.php">
                    <input type="text" placeholder="Search.." class="form-control" name="search" (keyup)="searchByEmail($event)">
                  </form>
                </td>
                <td></td>
              </tr>
              <tr *ngFor="let x of data;let i = index">
                  <td style="padding: 0px; ">
                      <div class="edit-remove">
                        <div><i class="glyphicon glyphicon-trash" (click)="OnPressDelete(i,x.id)"></i></div>
                      <div> <i class="glyphicon glyphicon-pencil"(click)="OnPressEdit(i,x.id)"></i></div>
                      </div>
                    </td>
                <td>{{x.firstName}}</td>
                <td>{{x.lastName}}</td>
                <td>{{x.email}}</td>
                <td>{{x.Role}}</td>

              </tr>
            </tbody>
      </table>
    </div>
  </nb-card-body>
</nb-card>
